@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:century-gothic;
    src:url("../fonts/handwriting.woff2") format("woff2"),
    url("../fonts/handwriting.woff") format("woff"),
    url("../fonts/handwriting.opentype") format("opentype");
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}

@font-face{
    font-family:Architects Daughter;
    src:url("../fonts/architect.woff2") format("woff2");
    font-weight:400;
    font-style:normal;
    font-stretch:normal;
    font-display:auto;
}

a {
    color: #4d9221
}

.trailblazer {
    color: #000;
}

.trailblazers-header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

.trailblazers-header h3 {
    margin: 10px 0 0;
    font-size: 0.7rem;
    color: #0f9bf5;
    /* font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; */
}


header{
    background: linear-gradient(90deg, #04244c 0%, #166fdd 100%);
}

.link-card {
    box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.10);
}
.link-card:hover {
    box-shadow: 0px 9px 30px rgba(36, 189, 93, 0.15);
}

.glow {
    box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
}

.softglow {
    box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.1);
}

.amazing {
    box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
}

.oswald-700 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.uoj-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /*font-size: 2.5rem;*/
    margin-bottom: 0px;
    color: #129cf6;
    font-size: 1.25rem;
    /*line-height: 6.5rem; */
}

.lab-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /*font-size: 2.5rem;*/
    margin-bottom: 0px;
    color: #129cf6;
    font-size: 5.25rem;
    line-height: 6.5rem;
}

.logo {
    width: 150px;
}

.logo-text {
    color: #129cf6;
    font-size: 4.25rem;
    line-height: 6.5rem;
}

.hero {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3sease, box-shadow 0.3sease;
    width: 280px;
}

.hero:hover{
    box-shadow: 0 4px 8px rgb(25, 150, 236);
}

.trailblazer {
    color: #000;
}

.gradient {
    background: linear-gradient(90deg, #04244c 0%, #166fdd 100%);
}

.font-architech {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}

.text-xsm {
    font-size: .875rem;
    font-weight: inherit;
}

.event-policy {

}

.titled {

}

.titled h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333333;
}

.titled h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.0rem;
    margin-bottom: 20px;
    color: #149df6;
}

.titled p {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 170%;
}

/* General Styles */
body {
    /*font-family: Arial, sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    /*font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;*/
}

header p {
    margin: 10px 0 0;
    font-size: 1.1rem;
    /*font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;*/
}

header h3 {
    margin: 10px 0 0;
    font-size: 0.7rem;
    color: #0f9bf5;
    /*font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;*/
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.menu a {
    font-size: 0.7rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #0f9bf5;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.menu a:hover {
    background-color: #0f9bf5;
    color: #fff;
}

.menu-selected {
    background-color: #0f9bf5;
    color: #fff !important;
}

/* University Logo Placeholder */
.logo-placeholder {
    display: flex;
    justify-content: center; /* Center the logo horizontally */
    margin-bottom: 20px;
}

.logo-placeholder img {
    width: 200px; /* Adjust the size as needed */
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease; /* Add smooth hover effects */
    /*filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1)); !* Soft shadow filter *!*/
}

.logo-placeholder img:hover {
    transform: scale(1.1); /* Slightly enlarge the logo on hover */
    /*filter: drop-shadow(0 8px 16px rgba(33, 150, 243, 0.13)); !* Enhanced shadow on hover *!*/
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.student-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    text-align: center;
}

.computer-science:hover {
    /*background-color: rgba(164, 202, 25, 0.2);*/
    /*border-bottom: 3px solid rgba(164, 202, 25, 1.0) !important;*/
    box-shadow: 0 8px 16px rgba(164, 202, 25, 0.3) !important; /* Soft blue shadow on hover */

}

.computer-science {
    /*background-color: rgba(164, 202, 25, 0.2);*/
    border-bottom: 1px solid rgba(164, 202, 25, 1.0) !important;
}

.information-technology:hover {
    box-shadow: 0 8px 16px rgba(241, 126, 28, 0.3) !important; /* Soft blue shadow on hover */
}

.information-technology {
    /*background-color: rgba(241, 126, 28, 0.2);*/
    border-bottom: 1px solid rgba(241, 126, 28, 1.0) !important;
}

.cyber-security:hover {
    box-shadow: 0 8px 16px rgba(23, 149, 234, 0.3) !important; /* Soft blue shadow on hover */
}

.cyber-security {
    /*background-color: rgba(241, 126, 28, 0.2);*/
    border-bottom: 1px solid rgb(23, 149, 234) !important;
}


.student-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(33, 150, 243, 0.3); /* Soft blue shadow on hover */
}

.student-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.student-info {
    padding: 15px;
}

.student-info h3 {
    margin: 0;
    font-size: 0.80rem;
}

.student-info p {
    margin: 5px 0 0;
    font-size: 0.60rem;
    color: rgba(33, 150, 243, 0.8);
}

.intro {

}

.intro p {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 170%;
}


.poppins {
    font-family: "Poppins", serif;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}
